In [1]:
# importing necessary libraries
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests

In [2]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
response = requests.get(url)
content = response.content
parser = BeautifulSoup(content, 'html.parser')

In [3]:
forecast_items = parser.find_all('tbody')
tonight = forecast_items[0]
table_rows = tonight.find_all('tr')

In [4]:
data = []
for row in table_rows:
    data.append([t.text.strip() for t in row.find_all('td')])

df = pd.DataFrame(data, columns=['Postal Code', 'Borough', 'Neighborhood'])
df = df[~df['Postal Code'].isnull()]  # to filter out bad rows

df.head(5)

  Postal Code           Borough                Neighborhood
1         M1A      Not assigned
2         M2A      Not assigned
3         M3A        North York                   Parkwoods
4         M4A        North York            Victoria Village
5         M5A  Downtown Toronto  Regent Park / Harbourfront

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 180 entries, 1 to 180
Data columns (total 3 columns):
Postal Code     180 non-null object
Borough         180 non-null object
Neighborhood    180 non-null object
dtypes: object(3)
memory usage: 5.6+ KB

In [6]:
df.drop(df[df['Borough']=="Not assigned"].index,axis=0, inplace=True)
df.head()

  Postal Code           Borough                                  Neighborhood
3         M3A        North York                                     Parkwoods
4         M4A        North York                              Victoria Village
5         M5A  Downtown Toronto                    Regent Park / Harbourfront
6         M6A        North York             Lawrence Manor / Lawrence Heights
7         M7A  Downtown Toronto  Queen's Park / Ontario Provincial Government

In [7]:
df1 = df.reset_index()
df1.head()

,index,Postal Code,Borough,Neighborhood
0,3,M3A,North York,Parkwoods
1,4,M4A,North York,Victoria Village
2,5,M5A,Downtown Toronto,Regent Park / Harbourfront
3,6,M6A,North York,Lawrence Manor / Lawrence Heights
4,7,M7A,Downtown Toronto,Queen's Park / Ontario Provincial Government

In [8]:
df2= df1.groupby('Postal Code').agg(lambda x: ','.join(x))

df2.head()

                 Borough                              Neighborhood
Postal Code
M1B          Scarborough                           Malvern / Rouge
M1C          Scarborough  Rouge Hill / Port Union / Highland Creek
M1E          Scarborough       Guildwood / Morningside / West Hill
M1G          Scarborough                                    Woburn
M1H          Scarborough                                 Cedarbrae

In [9]:
df2.loc[df2['Neighborhood']=="Not assigned",'Neighborhood']=df2.loc[df2['Neighborhood']=="Not assigned",'Borough']

df2.head()

                 Borough                              Neighborhood
Postal Code
M1B          Scarborough                           Malvern / Rouge
M1C          Scarborough  Rouge Hill / Port Union / Highland Creek
M1E          Scarborough       Guildwood / Morningside / West Hill
M1G          Scarborough                                    Woburn
M1H          Scarborough                                 Cedarbrae

In [10]:
df3 = df2.reset_index()
df3.head()

  Postal Code      Borough                              Neighborhood
0         M1B  Scarborough                           Malvern / Rouge
1         M1C  Scarborough  Rouge Hill / Port Union / Highland Creek
2         M1E  Scarborough       Guildwood / Morningside / West Hill
3         M1G  Scarborough                                    Woburn
4         M1H  Scarborough                                 Cedarbrae

In [11]:
df3 = df3.replace(to_replace=r'/',value=r',',regex=True)
df3.head()

  Postal Code      Borough                              Neighborhood
0         M1B  Scarborough                           Malvern , Rouge
1         M1C  Scarborough  Rouge Hill , Port Union , Highland Creek
2         M1E  Scarborough       Guildwood , Morningside , West Hill
3         M1G  Scarborough                                    Woburn
4         M1H  Scarborough                                 Cedarbrae

In [12]:
df3.shape

(103, 3)

In [13]:
geo = pd.read_csv('Geospatial_Coordinates.csv')
geo.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [14]:
geo.shape

(103, 3)

In [15]:
df = pd.merge(df, geo, on='Postal Code')
df.head()

,Postal Code,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,Regent Park / Harbourfront,43.654260,-79.360636
3,M6A,North York,Lawrence Manor / Lawrence Heights,43.718518,-79.464763
4,M7A,Downtown Toronto,Queen's Park / Ontario Provincial Government,43.662301,-79.389494